
@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*width: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
}


.note {
    /*background: rgba(255, 255, 255, 0.9);*/
    padding: 20px;
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    width: 1400px;
    height: 800px;
    background-size: cover;
    background-position: center;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat; /* 반복 여부와 반복 방향 */
    /*display: inline-block;*/
    position: relative;

    display: flex;
}


.questionIcon {
    position: absolute;
    top: -10px;
    right: 40px;
    z-index: 10;
    font-size: 40px;
    cursor: pointer;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;

    position: absolute;
    top: 80px;
    /*left: 50px;*/

}


/* DictationPage.module.css */
.dictationItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*background: #f9f9f9;*/
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;


}

.itemTopContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;

}

.question {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    font-size: 16px;


}

.playButton {
    background: #93D4E6;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.input {
    width: 350px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 10px;
}

.btnConrainer {
    position: absolute;
    bottom: 80px;
    display: flex;
    flex-direction: row;
}

.result {
    color: red;
    margin-left: 410px;
    font-size: 14px;
}



.longBtn {
    /*background: #28a745;*/
    color: #000;
    border: none;
    /*padding: 5px 10px;*/
    border-radius: 3px;
    cursor: pointer;

    width: 140px;
    height: 100px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 12px;

    font-size: 18px;

    margin-right: 20px;

}

/*.longBtn span {*/
/*    margin-bottom: 30px;*/
/*}*/


/*width: 300px;*/
/*height: 150px;*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*background-size: contain;*/
/*background-repeat: no-repeat;*/
/*background-position: center center;*/
/*margin-left: 20px;*/