
@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/paragraph_bg.png');
    background-size: cover;
    background-position: bottom;
    padding: 40px 40px;
    overflow-y: auto;
    box-sizing: border-box;
    background-attachment: fixed;
}

.titleContainer h1{
    font-family: 'EF_jejudoldam', sans-serif;
    font-size: 40px;
    margin: 20px;

}

.titleContainer p {
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.card {
    margin: 10px;
}

.button {
    width: 280px;
    height: 100px;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    overflow-y: auto;
}
