.container {
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/paragraph_bg.png');
    background-size: cover;
    background-position: bottom;
    padding: 40px 40px;
    overflow-y: auto;
    box-sizing: border-box;
    background-attachment: fixed;
}

.cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    margin: 10px;
}

.button {
    width: 280px;
    height: 100px;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    overflow-y: auto;
}
